[project]
	description = Initializr's generated page
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Utopia (lanniaoershi)
[access "refs/for/refs/*"]
	read = group user/Utopia (lanniaoershi)
	push = group user/Utopia (lanniaoershi)
	label-Code-Review = -2..+2 group user/Utopia (lanniaoershi)
	label-Verified = -1..+1 group user/Utopia (lanniaoershi)
	rebase = group user/Utopia (lanniaoershi)
	removeReviewer = group user/Utopia (lanniaoershi)
	submit = group user/Utopia (lanniaoershi)
[access "refs/heads/*"]
	read = group user/Utopia (lanniaoershi)
	create = group user/Utopia (lanniaoershi)
	push = +force group user/Utopia (lanniaoershi)
	pushMerge = group user/Utopia (lanniaoershi)
[access "refs/tags/*"]
	push = +force group user/Utopia (lanniaoershi)
	pushTag = group user/Utopia (lanniaoershi)
	pushSignedTag = group user/Utopia (lanniaoershi)
